.aside-test {
  background: $gray--light;
  position: absolute;
  left: -100%;
  width: 100%;
  transition: left $transition-time--show;
  transition-timing-function: cubic-bezier(0, 0.85, 0.5, 1);
  overflow: hidden;

  @media (min-width: $desktop-width) {
    left: 0;
    width: 300px;
  }

  &--shown {
    @media (max-width: $desktop-width - 1) {
      left: 0;
      transition: left $transition-time--show;
      transition-timing-function: cubic-bezier(0, 0.85, 0.5, 1);
    }
  }
}

.aside-test__menu {
  padding-left: 0;
  list-style: none;
}

.aside-test__menu-link {
  display: block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
