.bg-adaptive {
  width: 100%;
  min-height: 400px;
  background-color: #373737;
  background-image: url("../img/rastr/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/rastr/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/rastr/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rastr/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/rastr/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rastr/bg-back-desktop@2x.jpg");
    }
  }
}
