.block-rubber {
  height: 300px;
  display: flex;
  flex-direction: column;

  font-size: 18px;
  text-align: center;

  &--2 {
    justify-content: space-between;
  }
}

.block-rubber__1 {
  flex-shrink: 0;

  background-color: #446655;

  &--2 {
    flex-shrink: 1; // т.е. восстанавливаем значение по умолчанию.
  }
}

.block-rubber__2 {
  flex-grow: 1;
  overflow-y: scroll;

  background: $gray;

  &--2 {
    height: 100%;
  }
}

.block-rubber__3 {
  flex-shrink: 0;

  height: 50px;

  background-color: #446655;

  &--2 {
    flex-shrink: 1; // т.е. восстанавливаем значение по умолчанию.
  }
}
