.block-library {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 2em;
  border: 2px dashed #cccccc;
}

.block-library__title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.block-library p {
  margin-bottom: 0.5em;
}

.block-library a {
  text-decoration: underline;
  color: $color-active;
}


.block-library__span {
  display: inline-block;
  padding-right: 1em;
  padding-bottom: 1em;
}

.blocks-library__example {
  max-height: 0;
  overflow: hidden;
  box-shadow: $box-shadow;

  &--shown {
    max-height: 1100px;
    margin: $typo-margin-vertical 0;
    transition: max-height $transition-time--show;
    transition-timing-function: linear;
    background: $gray--light;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}

.block-library__wrap-aside {
  outline: 1px dotted red;
  position: relative;
  height: 200px;
}

.block-library table {
  width: 100%;
  margin-bottom: 5em;
  border-collapse: collapse;
}

.block-library__table-head {
  background: $gray--light;
}

.block-library td {
  padding: 0 0.5em;
  text-align: right;
  vertical-align: top;
  border: 1px solid $border-color;

  &:first-child {
    width: 15%;
  }

  &:nth-child(2) {
    width: 25%;
  }
}
