/*Стили этого блока задают:
 - расположение блока со слайдером,
 - внешний вид и расположение кнопок слайдера.*/

.block-content {
  width: 100%; /*перед использованием удалить*/
  height: 400px; /*перед использованием удалить*/
  padding-top: 75px; /*перед использованием удалить*/
  background: #89b7b2; /*перед использованием удалить*/
}

.block-content__slider {
  margin: 0 auto;
  width: 400px; /*перед использованием удалить*/
}

.block-content__text {
  text-align: center;
}

/*расположение кнопок слайдера prev-next*/
.block-content__btn-prev,
.block-content__btn-next {
  top: 50%;
  transform: translateY(-50%);
}

.block-content__btn-next {
  right: 0;
}

/*расположение кнопок-индикаторов "1-2-3-..." */
.block-content__toggles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*стилизация кнопок-индикаторов слайдера "1-2-3-..." */
.block-content__btn-toggles {
  width: 20px;
  height: 20px;
  background: $slider-toggle;
  border: 2px solid $slider-toggle;
  border-radius: 10px;

  &--active {
    border-color: $color-main;
  }

  &:hover {
    border-color: $slider-toggle--hover;
  }

  &:active {
    border-color: $slider-toggle--down;
  }
}
