.block-library {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 2em;
  border: 2px dashed #cccccc;
}

.block-library__title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.block-library p {
  margin-bottom: 0.5em;
}

.block-library ul {
  //margin-top: -10px;
}

.blocks-library__example {
  max-height: 0;
  overflow: hidden;
  box-shadow: $box-shadow;


  &--shown {
    max-height: 450px;
    margin: $typo-margin-vertical 0;
    padding: $field-padding-vertical $field-padding-horizontal;
    transition: max-height $transition-time--show;
    transition-timing-function: cubic-bezier(0, 0.85, 0.5, 1);
    background: $gray--light;
    border: 1px solid $gray;
    border-radius: $border-radius;
  }
}

.block-library__need-modify {
  color: $color-third;
}
