.block-rubber {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  text-align: center;

  &--2 {
    justify-content: flex-start; //т.е. при использовании варианта №2, justify-content не задавать.
  }
}

.block-rubber__1 {
  height: 50px;

  background-color: #446655;

  &--2 {
    flex-shrink: 0;
  }
}

.block-rubber__2 {
  height: 100%;

  background: #ffb79d;

  &--2 {
    flex-grow: 1;
  }
}

.block-rubber__3 {
  height: 50px;

  background-color: #446655;

  &--2 {
    flex-shrink: 0;
  }
}
