.btn-bubbles {
  position: relative;
  padding: 15px 30px;
  color: #ffffff;
  //font-size: 30px;
  line-height: 1em;
  //text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: darken(#2856d2, 20%);

  box-shadow: #3a5998 2px 2px 22px;
  outline: none;
}

.btn-bubbles__text {
  position: relative;
  z-index: 6;
}

.btn-bubbles__left {
  position: absolute;
  z-index: 9;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-33%);
}

.btn-bubbles__right {
  position: absolute;
  z-index: 5;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(133%);
}

.btn-bubbles__right::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 300%;
  height: 250%;
  top: -0.1%; // ?
  left: 50%;
  transform: translate(-78%, -100%) rotate(0deg);
  transition: transform 0.2s ease-out;

  background-color: #000000;
}

/*=========================*/
/*:hover*/
.btn-bubbles:hover .btn-bubbles__right::after {
  transform: translate(-78%, -77%) rotate(0deg);
}

.btn-bubbles .btn-bubbles__right:hover::after {
  transform: translate(-78%, -77%) rotate(-7deg);
}

.btn-bubbles .btn-bubbles__left:hover ~ .btn-bubbles__right::after {
  transform: translate(-78%, -77%) rotate(7deg);
}

/*=========================*/
/*:active*/
.btn-bubbles:active .btn-bubbles__text {
  color: $gray;
}


/*=========================*/
/* bubbles */
.btn-bubbles::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background:
    radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, #ffffff 3px, #ffffff 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, #ffffff 3px, #ffffff 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, #ffffff 5px, #ffffff 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }

  to {
    transform: translate(0, -66.666%);
  }
}
