.btn-set-1 {
  position: relative;
  display: block;
  width: 100%;
  max-width: 160px;

  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  //vertical-align: middle;

  &:not(:last-child) {
    margin-right: 2em;
  }
}

.btn-set-1:hover {
  text-decoration: none;
}

.btn-set-1__vbtn-1 {
  text-align: center;
  background: transparent;

  & rect {
    fill: none; //цвет внутри объекта.
    stroke: #e1b700; //задаёт цвет линии, которая рисуется вокруг объекта.
    stroke-width: 3; //ширина линии
    stroke-dasharray: 422, 0; //пунктирные линии в обводке
    transition: all 450ms linear 0s;
  }

  &--mod rect {
    stroke: #f2625a;
  }
}

.btn-set-1__vbtn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
  //background: rgba(225, 51, 45, 0);
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310; //пунктирные линии в обводке
  //stroke-dashoffset: 48;
  stroke-dashoffset: 65%; // указывает где начинается dash-array в линии (позволяет задать смещение пунктирной обводки относительно первоначального положения)
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-set-1__vbtn-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

/*=============*/
.btn-set-1__vbtn-2 {
  letter-spacing: 0;
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-2:hover,
.btn-set-1__vbtn-2:active {
  letter-spacing: 5px;
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-2::after,
.btn-set-1__vbtn-2::before {
  content: " ";
  position: relative;
  display: block;
  bottom: 0;
  width: 0;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  transition: all 280ms ease-in-out;
}

.btn-set-1__vbtn-2:hover::after,
.btn-set-1__vbtn-2:hover::before {
  width: 70%;
  backface-visibility: hidden;
  border-color: #56c5ff;
  transition: width 350ms ease-in-out;
}

.btn-set-1__vbtn-2:hover::before {
  width: 70%;
  top: 0;
  bottom: auto;
}

.btn-set-1__vbtn-2--mod:hover::after,
.btn-set-1__vbtn-2--mod:hover::before {
  border-color: #666666;
}
