.btn-set-1 {
  position: relative;
  display: block;
  width: 100%;
  max-width: 160px;

  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  //vertical-align: middle;

  &:not(:last-child) {
    margin-right: 2em;
  }
}

.btn-set-1:hover {
  text-decoration: none;
}

.btn-set-1__vbtn-1 {
  text-align: center;
  background: transparent;

  & rect {
    fill: none; //цвет внутри объекта.
    stroke: #e1b700; //задаёт цвет линии, которая рисуется вокруг объекта.
    stroke-width: 3; //ширина линии
    stroke-dasharray: 422, 0; //пунктирные линии в обводке
    transition: all 450ms linear 0s;
  }

  &--mod rect {
    stroke: #f2625a;
  }
}

.btn-set-1__vbtn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
  //background: rgba(225, 51, 45, 0);
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310; //пунктирные линии в обводке
  //stroke-dashoffset: 48;
  stroke-dashoffset: 65%; // указывает где начинается dash-array в линии (позволяет задать смещение пунктирной обводки относительно первоначального положения)
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-set-1__vbtn-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

/*=============*/
.btn-set-1__vbtn-2 {
  letter-spacing: 0;
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-2:hover,
.btn-set-1__vbtn-2:active {
  letter-spacing: 5px;
  transition: all 150ms linear 0s;
}

.btn-set-1__vbtn-2::after,
.btn-set-1__vbtn-2::before {
  content: " ";
  position: relative;
  display: block;
  bottom: 0;
  width: 0;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0);
  backface-visibility: hidden;
  transition: all 280ms ease-in-out;
}

.btn-set-1__vbtn-2:hover::after,
.btn-set-1__vbtn-2:hover::before {
  width: 70%;
  backface-visibility: hidden;
  border-color: #56c5ff;
  transition: width 350ms ease-in-out;
}

.btn-set-1__vbtn-2:hover::before {
  width: 70%;
  top: 0;
  bottom: auto;
}

.btn-set-1__vbtn-2--mod:hover::after,
.btn-set-1__vbtn-2--mod:hover::before {
  border-color: #666666;
}

/*===============*/
//Принцип:
//по ховер на btn__hoverable применить анимацию к btn__anim

.btn__anim {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn__anim::before {
  position: relative;
  content: "";
  display: block;
  margin-top: 100%;
}

.btn__anim::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.btn__hoverable:hover > .btn__anim {
  //изменяем ширину .btn__anim
  animation: anim-out 0.75s;
}

.btn__hoverable:hover > .btn__anim::after {
  //изменяем фон  .btn__anim::after
  animation: anim-out-pseudo 0.75s;
}

@keyframes anim-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */

.rotate-in-center {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
