.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  white-space: nowrap;
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  line-height: $line-height;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  color: $color-main;
  background-color: $gray--light;
  background-image: none;
  border-radius: $btn-border-radius-base;
  // border: 1px solid $gray-lighter;
  border: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    //color: $text-color;
    background-color: darken($gray--light, 10%);
  }

  &:focus {
    //color: $text-color;
    background-color: darken($gray--light, 10%);
  }

  &:active {
    color: $color-active;
  }
}
