.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  white-space: nowrap;
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  line-height: $line-height;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $gray--light;
  background-image: none;
  border-radius: $btn-border-radius-base;
  // border: 1px solid $gray-lighter;
  border: 0;
  cursor: pointer;

  /*если в кнопке svg, задать для позиционирования svg внутри кнопки*/
  // display: flex;
  // justify-content: center;
  // align-items: center;

  // &:hover,
  // &:focus {
  //   text-decoration: none;
  //   color: $text-color;
  //   background-color: darken($gray--light, 10%);
  // }

  // &:active {
  //   color: $color-active;
  // }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    //pointer-events: none;
    color: $text-color;
    background-color: $gray--light;
    // border-color: $gray-lighter;
  }

  /*используется для оформления svg в кнопке только для Библитеки*/
  > svg {
    background: #222222;
  }

  &--flare {
    /*======================*/
    /*это эффект блика на .btn*/

    &::before {
      content: "";
      position: absolute;
      left: -40px;
      top: -100px;
      z-index: 1;

      display: block;
      width: 15px;
      height: 300px;
      background: #ffffff;

      transform: rotate(45deg);
      transition: all;
      animation-name: slideme;
      animation-duration: 2s;
      animation-delay: 0.1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30% {
      left: 110%;
      margin-left: 80px;
    }

    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
}

/*=========================================*/
/**
 * ----------------------------------------
 * hover circle
 * ----------------------------------------
 */

//Принцип:
//по ховер на btn__hoverable применить анимацию к btn__anim
.btn__anim {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn__anim::before {
  position: relative;
  content: "";
  display: block;
  margin-top: 100%;
}

.btn__anim::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.btn__hoverable:hover > .btn__anim {
  //изменяем ширину .btn__anim
  animation: anim-out 0.75s;
}

.btn__hoverable:hover > .btn__anim::after {
  //изменяем фон  .btn__anim::after
  animation: anim-out-pseudo 0.75s;
}

@keyframes anim-out {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }

  100% {
    background: transparent;
  }
}
