.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  white-space: nowrap;
  user-select: none;
  font-family: inherit;
  font-size: 1em;
  line-height: $line-height;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $gray--light;
  background-image: none;
  border-radius: $btn-border-radius-base;
  // border: 1px solid $gray-lighter;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    //color: $text-color;
    background-color: darken($gray--light, 10%);
  }

  &:active {
    color: $color-active;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    //pointer-events: none;
    color: $text-color;
    background-color: $gray--light;
    // border-color: $gray-lighter;
  }

  /*используется для оформления svg в кнопке только для Библитеки*/
  > svg {
    background: #222222;
  }

  /*если в кнопке svg, задать для позиционирования svg внутри кнопки*/
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
