.burger {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 30px;
  padding: 0;
  line-height: 30px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  outline: none;

  > span { // stylelint-disable-line  selector-combinator-blacklist
    /*это центральная полоса бургера*/
    display: inline-block;
    position: relative;
    width: 100%;
    height: 3px;
    margin-top: -4px;
    vertical-align: middle;
    font-size: 0;
    color: transparent;
    background: $color-main;
    transition: background $transition-time--burger $transition-time--burger;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: $color-main;
      transform-origin: 50% 50%;
      transition: top $transition-time--burger $transition-time--burger, transform $transition-time--burger;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &--close {
    > span { // stylelint-disable-line  selector-combinator-blacklist
      transition: background $transition-time--burger 0s;
      background: transparent;

      &::before,
      &::after {
        top: 0;
        transition: top $transition-time--burger, transform $transition-time--burger $transition-time--burger;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  &--no-js {
    display: none;
  }
}
