.check-browser {
  display: none;
}

.check-browser__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #2c2c2c;
}

.check-browser__content {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  padding: 2.5em;

  font-size: 72px;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;

  color: #e1e1e1;
}
