.code {
  //padding: 0.5em 1em;
  //background-color: $gray--light;
  //border-radius: $border-radius;

  code {
    display: block;
    padding: 0;
    white-space: pre;
    background-color: transparent;
  }
}
