.code {
  padding: 0.5em 2em;
  line-height: $line-height*0.25;

  code {
    display: block;
    padding: 0;
    white-space: pre;
    background-color: transparent;
  }
}

.code_inner {
  display: block;
  line-height: 1.5em;
}
