.field-checkbox {
  margin-top: 0; //если .field-radio в виде списка
  //margin-bottom: 0; //если .field-radio в виде списка ul
  padding-left: 0; //если .field-radio в виде списка ul
  margin-bottom: 1em; // для Library
}

.field-checkbox__input-wrap {
  outline: 1px dotted $gray;

  margin-bottom: 0.5em; // для Library
  list-style: none; //если .field-radio в виде списка ul
}

.field-checkbox__title {
  margin-bottom: 0.5em; // для Library
  font-weight: bold;
}

.field-checkbox__help-text {
  padding-left: 2em;

  @include field-help-text;
}

/*===стилизация чек-бокс===*/
.field-checkbox__input {
  /*прячем стандартный чек-бокс без потери доступности*/
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.field-checkbox__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;
  padding-left: 1.5em;
  cursor: pointer;
}

.field-checkbox__label:hover .field-checkbox__name-text::before {
  /*стилизация фона checkbox по :hover*/
  border-color: $color-hover;
}

.field-checkbox__label:active .field-checkbox__name-text::before {
  /*стилизация фона checkbox в момент клика - :active*/
  border-color: $color-active;
}

.field-checkbox__name-text {
  user-select: none;
}

.field-checkbox__name-text::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid $gray;
  border-radius: 5px;
  background: #ffffff;

  position: absolute;
  top: 5px;
  left: 0;
}

.field-checkbox__name-text:hover::before {
  //border-color: $color-hover;
}

.field-checkbox__name-text:active::before {
  //border-color: $color-active;
}

/*переключение состояния чек-бокса*/
.field-checkbox__input:checked ~ .field-checkbox__name-text::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 22px;
  height: 16px;
  background: url("../img/vector/icon-yes-pink.svg") no-repeat center;

  position: absolute;
  top: 3px;
  left: 3px;
}

/*делаем чек-бокс доступным с клавиатуры*/
.field-checkbox__input:focus ~ .field-checkbox__name-text::before {
  border-color: $color-hover;
  box-shadow: $box-shadow;
}
