.field-radio {
  margin-top: 0; //если .field-radio в виде списка
  //margin-bottom: 0; //если .field-radio в виде списка ul
  padding-left: 0; //если .field-radio в виде списка ul
  margin-bottom: 1em; // для Library
}

.field-radio__input-wrap {
  outline: 1px dotted $gray;

  margin-bottom: 0.5em; // для Library
  list-style: none; //если .field-radio в виде списка ul
}

.field-radio__title {
  margin-bottom: 0.5em; // для Library
  font-weight: bold;
}

.field-radio__help-text {
  padding-left: 2em;

  @include field-help-text;
}

/*===стилизация radio===*/
.field-radio__input {
  /*прячем стандартный radio без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-radio__label {
  /*подготовка места для кастом-radio = стилизация label*/
  position: relative;
  display: block;
  padding-left: 1.5em;
  cursor: pointer;
}

.field-radio__name-text::before {
  /*стилизация фона radio*/
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid $gray;
  border-radius: 10px;
  background: #ffffff;

  position: absolute;
  top: 5px;
  left: 0;
}

.field-radio__name-text:hover::before {
  border-color: $color-hover;
}

.field-radio__name-text:active::before {
  border-color: $color-active;
}

/*переключение состояния radio*/
.field-radio__input:checked ~ .field-radio__name-text::after {
  /*стилизация активного radio*/
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $color-main;
  position: absolute;
  top: 11px;
  left: 6px;

  /*стилизация для использования картинки*/
  /* width: 22px;
  height: 16px;
  background: url("../img/icon-yes-pink.svg") no-repeat center; */
}

/*делаем radio доступным с клавиатуры*/
.field-radio__input:focus ~ .field-radio__name-text::before {
  border-color: $color-hover;
  box-shadow: $box-shadow;
}
