.field-text {
  display: block;
  margin-bottom: 1em;
}

.field-text__name {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.field-text__input-wrap {
  position: relative;
  display: block;
  width: 100%;
}

// .field-text__input-wrap1,
// .field-text__input-wrap2,
// .field-text__input-wrap3 {
//   /*данный модификатор МОЖЕТ использоваться для скрипта form-validation.js*/
//   &--after {
//     &::after {
//       content: "Заполните поле";
//       position: absolute;
//       top: 50%;
//       transform: translateY(-100%);
//       right: 15px;
//       width: auto;
//       height: auto;
//       font-size: $font-size;
//       line-height: $line-height-auto;
//       text-align: right;
//       color: #ffffff;
//     }
//   }
// }

.field-text__input-wrap-pseudo {
  /*'эти стили нужны для скрипта  active-pseudo-to-input.js*/
  &--1 {
    position: relative;

    &::before {
      content: "*";
      position: absolute;
      top: 0;
      left: 5px;
      color: red;
    }
  }
}

.field-text__input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &:hover {
    border-color: $color-main;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-hover;
    box-shadow: $box-shadow;
  }

  &::placeholder {
    color: $gray;
  }
}

.field-text__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  background: #000000;
}

.field-text__help-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  @include field-help-text;

  &--error {
    color: red;
  }
}
