.field-radio {
  margin-bottom: 1em;
}

.field-radio__input-wrap {
  margin-bottom: 0.5em;
  outline: 1px dotted $gray;
}

.field-radio__title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.field-radio__help-text {
  padding-left: 2em;
  font-size: $font-size--smaller;
  color: $gray;
}

/*===стилизация чек-бокс===*/
.field-radio__input {
  /*прячем стандартный чек-бокс без потери доступности*/
  position: absolute;
  opacity: 0;
}

.field-radio__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;
  padding-left: 1.5em;
  cursor: pointer;
}

.field-radio__name-text::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid $gray;
  border-radius: 10px;
  background: #ffffff;

  position: absolute;
  top: 5px;
  left: 0;
}

.field-radio__name-text:hover::before {
  border-color: $color-hover;
}

.field-radio__name-text:active::before {
  border-color: $color-active;
}

/*переключение состояния чек-бокса*/
.field-radio__input:checked ~ .field-radio__name-text::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $color-main;
  position: absolute;
  top: 11px;
  left: 6px;

  /*стилизация для использования картинки*/
  /* width: 22px;
  height: 16px;
  background: url("../img/icon-yes-pink.svg") no-repeat center; */
}

/*делаем чек-бокс доступным с клавиатуры*/
.field-radio__input:focus ~ .field-radio__name-text::before {
  border-color: $color-hover;
  box-shadow: 0 0 7px #000000;
}
