.field-checkbox {
  margin-top: 0; //если .field-radio в виде списка
  margin-bottom: 0; //если .field-radio в виде списка ul
  padding-left: 0; //если .field-radio в виде списка ul

  margin-bottom: 1em; // для Library
  padding: 1em; // для Library
  border: 2px dashed $gray; // для Library
}

.field-checkbox__input-wrap {
  outline: 1px dotted $gray;

  margin-bottom: 0.5em; // для Library
  list-style: none; //если .field-radio в виде списка ul
}

.field-checkbox__title {
  margin-bottom: 0.5em; // для Library
  font-weight: bold;
}

.field-checkbox__help-text {
  padding-left: 2em;

  @include field-help-text;
}

/**************************/
/*===стилизация чек-бокс===*/
.field-checkbox__label {
  //подготовка места для кастом-чек-бокса = стилизация label
  position: relative;
  display: block;
  padding-left: 1.5em;
}

.field-checkbox__input {
  //прячем стандартный чек-бокс без потери доступности
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  //appearance: none; //  можно и так; не поддерживается IE
}

.field-checkbox__name-text {
  user-select: none;
  cursor: pointer;
}

.field-checkbox__name-text::before {
  //стилизация фона checkbox
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid $gray;
  border-radius: 5px;
  background: transparent;

  position: absolute;
  top: 5px;
  left: 0;

  transition: all 0.3s;
}

/************************/
/*СТИЛИЗАЦИЯ СОСТОЯНИЙ*/
/*:hover*/
.field-checkbox__name-text:hover::before {
  //фон checkbox
  border-color: $color-hover;
}

/*:active*/
.field-checkbox__name-text:active::before {
  //фон checkbox
  border-color: $color-active;
}

/*disabled*/
.field-checkbox__input:disabled ~ .field-checkbox__name-text {
  cursor: not-allowed;
}

.field-checkbox__input:disabled ~ .field-checkbox__name-text::before {
  //фон checkbox
  border-color: $gray;
  background-color: #e5e5e5;
}

/*checked*/
.field-checkbox__input:checked ~ .field-checkbox__name-text::before {
  //фон checkbox
  border-color: $color-hover;
}

.field-checkbox__input:checked ~ .field-checkbox__name-text::after {
  //стиль активного checkbox
  content: "";
  width: 20px;
  height: 12px;

  position: absolute;
  top: 3px;
  left: 4px;

  border-left: 2px solid $color-hover;
  border-bottom: 2px solid $color-hover;
  transform: rotate(-45deg);
  box-shadow: 1px 2px 0 #ffffff, inset 0 -2px 0 #ffffff;

  /*стилизация для использования картинки*/
  //background: url("../img/vector/icon-yes-pink.svg") no-repeat center;
}

.field-checkbox__input:focus ~ .field-checkbox__name-text::before {
  //делаем чек-бокс доступным с клавиатуры, нажатие на TAB
  border-color: $color-hover;
  box-shadow: $box-shadow;
}
