.field-range__name {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.field-range__input-wrap {
  display: block;
  position: relative;
}

.field-range__help-text {
  display: block;

  @include field-help-text;
}

.field-range__input {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  align-self: center;
  height: 2em;
  border-radius: 0.25em;
  border: 0;
  padding: 0;
  background: none;
  font-size: inherit;
  cursor: pointer;
  appearance: none;

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &:focus {
    @include field-focus;
  }

  // Фоновая линия ползунка
  // Это — локальная примесь.
  @mixin field-range-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 0.75em;
    border-radius: 5px;
    background: coral;
    border: 2px solid $border-color;
  }

  // Увы, тут похожие наборы свойств приходится писать порознь.
  &::-webkit-slider-runnable-track {
    @include field-range-runnable-track; // локальная примесь
  }

  &::-moz-range-track {
    @include field-range-runnable-track; // локальная примесь
  }

  &::-ms-track {
    @include field-range-runnable-track; // локальная примесь
    color: transparent;
  }

  // Смещающийся элемент ползунка
  // Это — локальная примесь.
  @mixin field-range-slider-thumb {
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    border: 2px solid $border-color;
    border-radius: 1em;
    padding: 0;
    box-shadow: none;
    cursor: ew-resize;
    background: $color-secondary;
  }

  &::-webkit-slider-thumb {
    @include field-range-slider-thumb; // локальная примесь
    margin-top: -0.68em;
  }

  &::-moz-range-thumb {
    @include field-range-slider-thumb; // локальная примесь
  }

  &::-ms-thumb {
    @include field-range-slider-thumb; // локальная примесь
  }

  &::-ms-fill-lower,
  &::-ms-tooltip {
    display: none;
  }
}
