.field-radio {
  margin-top: 0; //если .field-radio в виде списка ul
  margin-bottom: 0; //если .field-radio в виде списка ul
  padding-left: 0; //если .field-radio в виде списка ul

  margin-bottom: 1em; // для Library
  padding: 1em; // для Library
  border: 2px dashed $gray; // для Library
}

.field-radio__input-wrap {
  outline: 1px dotted $gray;

  margin-bottom: 0.5em; // для Library
  list-style: none; //если .field-radio в виде списка ul
}

.field-radio__title {
  margin-bottom: 0.5em; // для Library
  font-weight: bold;
}

.field-radio__help-text {
  padding-left: 2em;

  @include field-help-text;
}

/*===стилизация radio===*/
.field-radio__label {
  /*подготовка места для кастом-radio = стилизация label*/
  position: relative;
  display: block;
  padding-left: 1.5em;
}

.field-radio__input {
  //прячем стандартный radio без потери доступности
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  //appearance: none; //  можно и так; не поддерживается IE
}

.field-radio__name-text {
  user-select: none;
  cursor: pointer;
}

.field-radio__name-text::before {
  //стилизация фона radio
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid $gray;
  border-radius: 10px;
  background: transparent;

  position: absolute;
  top: 5px;
  left: 0;

  transition: all 0.3s;
}

/************************/
/*СТИЛИЗАЦИЯ СОСТОЯНИЙ*/
/*:hover*/
.field-radio__name-text:hover::before {
  //фон radio
  border-color: $color-hover;
}

/*:active*/
.field-radio__name-text:active::before {
  //фон radio
  border-color: $color-active;
}

/*disabled*/
.field-radio__input:disabled ~ .field-radio__name-text {
  //radio disabled
  cursor: not-allowed;
}

.field-radio__input:disabled ~ .field-radio__name-text::before {
  //фон radio disabled
  border-color: $gray;
  background-color: #e5e5e5;
}

/*checked*/
.field-radio__input:checked ~ .field-radio__name-text::before {
  //фон radio checked
  border-color: $color-hover;
}

.field-radio__input:checked ~ .field-radio__name-text::after {
  //стиль активного radio
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $color-main;
  position: absolute;
  top: 11px;
  left: 6px;

  /*стилизация для использования картинки*/
  /* width: 22px;
  height: 16px;
  background: url("../img/icon-yes-pink.svg") no-repeat center; */
}

/*делаем radio доступным с клавиатуры*/
.field-radio__input:focus ~ .field-radio__name-text::before {
  border-color: $color-hover;
  box-shadow: $box-shadow;
}
