.field-text {
  margin-bottom: 1em;
}

.field-text__name {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.field-text__input {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid $gray;
  border-radius: $border-radius;

  &:hover {
    border-color: $color-main;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-hover;
    box-shadow: 0 0 7px #000000;
  }

  &::placeholder {
    //font-size: $font-size--larger;
    //line-height: 1em;
    color: $gray;
  }
}

.field-text__input-wrap {
  display: block;
  width: 100%;
}

.field-text__help-text {
  display: block;
  margin-bottom: 1em;

  @include field-help-text;
}
