.index-menu {
  outline: 2px dashed darkblue;

  margin-bottom: 0;
  padding-left: 0;
}

.index-menu__item {
  outline: 1px dotted green;

  position: fixed;
  top: 0;

  width: 50vw;
  height: 100vh;

  list-style: none;

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
    border-right: 1px solid $gray--light;
  }
}

.index-menu__link {
  outline: 1px dotted coral;

  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  font-size: 90px;
  font-weight: 400;
  line-height: 1.2em;
  color: $gray--light;
  background-color: $gray--darken;

  &:hover {
    color: $gray--darken;
    background-color: $gray--light;
  }

  &:active {
    color: $gray;
  }
}
