.main-nav {
  outline: 1px dotted $color-main;
}

.main-nav > .burger {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  outline: 1px dotted $color-third;
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--js {
    /*уменьшение высоты меню*/
    @media (max-width: $desktop-width - 1) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s;
    }
  }

  &--show {
     /*величение высоты меню*/
    @media (max-width: $desktop-width - 1) {
      max-height: 800px;
      overflow: hidden;
      transition: max-height $transition-time--show * 2;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 0.5em 1em;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $gray--light;
  }
}
