.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  background-color: rgba(0, 0, 0, 0.65);

  animation: modal__fade 0.6s;
}

@keyframes modal__fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal__content {
  position: fixed;

  /*такой вид центрования подходит только для фиксированного расположения МО, при анимации МО - не подходит.*/
  top: 50%;
  left: 50%;
  //transform: translate(-50%, -50%);
  transform: translate(-50%, -250%); //?
  z-index: 20;
  display: none;

  /*это стилизация сообщения*/
  box-sizing: border-box;
  width: 650px;
  padding: 20px;
  background-color: $color-third;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);

  animation: modal__fade 0.6s;
}

.modal__content--show {
  display: block;
}

.modal__overlay--show {
  display: block;
}

