.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
  position: fixed;
  top: 0;
  right: 0;
  //bottom: 0;
  left: 0;
  z-index: 20;

  display: none;

  /*это стилизация сообщения*/
  box-sizing: border-box;
  width: 650px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 20px;
  background-color: $color-third;
}

.modal__content--show {
  display: block;
}

.modal__bg--show {
  display: block;
}

