.modal-2__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-2__content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

  display: none;

  /*это стилизация сообщения*/
  box-sizing: border-box;
  width: 650px;
  margin: 0 auto;
  margin-top: 10em;
  padding: 20px;
  background-color: $color-third;
}

.modal-2__content--show {
  display: block;
  animation: bounce 0.6s;
}

/* animation bounce-top*/
@keyframes bounce {
  0% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }

  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }

  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }

  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.modal-2__overlay--show {
  display: block;
}

/*===трясем форму при вводе пользователем неправильных данных===*/
.modal-2--error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

