.off-canvas {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.off-canvas__aside {
  position: fixed;
  z-index: 2;
  width: 250px;
  height: 100%;
  padding-bottom: $field-padding-vertical * 3;
  overflow-y: auto;
  background-color: $gray--darken;
}

.off-canvas__menu {
  margin: 0;
  margin-top: 120px;
  padding-left: 0;
  list-style: none;
  height: 100%;

  &--js {
    color: red;
  }

  &--top {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 233px;
    overflow-y: hidden;
    border-bottom: 1px solid $gray;
  }
}

.off-canvas__menu-item {
  &--separator {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
  }
}

.off-canvas__menu-link {
  display: block;
  padding-top: $field-padding-vertical * 1.5;
  padding-right: $field-padding-horizontal;
  padding-left: $field-padding-horizontal;
  padding-bottom: $field-padding-vertical * 1.5;
  line-height: $line-height-auto;
  color: $gray--light;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $gray;
  }

  &--fixed-1 {
    color: #00dbe1;
    background-color: $gray--darken;
  }

  &--fixed {
    color: lighten($color-active, 25%);
    background-color: $gray--darken;
  }

  &--second {
    padding-top: 20px;
  }

  &--js {
    color: #e6a329;
  }
}
