.off-canvas {
  display: flex;
  overflow: hidden;
}

.off-canvas__aside {
  outline: 1px dotted red;
  position: fixed;
  z-index: 2;
  width: 250px;
  height: 100%;
  //padding-top: $field-padding-vertical * 3;
  padding-bottom: $field-padding-vertical * 3;
  overflow-y: auto;
  background-color: $gray--darken;
}

.off-canvas__menu {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.off-canvas__menu-item {
  &--second {
    padding-top: 50px;
  }

  &--separator {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
  }
}

.off-canvas__menu-link {
  display: block;
  padding-top: $field-padding-vertical;
  padding-right: $field-padding-horizontal;
  padding-left: $field-padding-horizontal;
  color: $gray--light;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $gray;
  }

  &--personal {
    position: fixed;
    width: 250px;
    padding-bottom: $field-padding-vertical *4;
    color: #00dbe1;
    background-color: $gray--darken;
  }
}
