.off-canvas {
  display: flex;
  overflow: hidden;

  scroll-behavior: smooth;
}

.off-canvas__aside {
  position: fixed;
  z-index: 2;
  width: 250px;
  height: 100%;
  padding-bottom: $field-padding-vertical * 3;
  overflow-y: auto;
  background-color: $gray--darken;

  &--js {
    //background-color: #d4b830;
    //background-color: #e6a329;
    //background-color: #b88220; ок
    //background-color: #a1721c;
    background-color: #5c4110;
    //background-color: #45300c;
    //background-color: #2e2008;
    //background-color: #f58233;
  }
}

.off-canvas__menu {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.off-canvas__menu-item {
  &--separator {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
  }
}

.off-canvas__menu-link {
  display: block;
  padding-top: $field-padding-vertical * 1.5;
  padding-right: $field-padding-horizontal;
  padding-left: $field-padding-horizontal;
  padding-bottom: $field-padding-vertical * 1.5;
  line-height: $line-height-auto;
  color: $gray--light;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $gray;
  }

  &--fixed-1 {
    position: fixed;
    width: 235px;
    color: #00dbe1;
    background-color: $gray--darken;
  }

  &--fixed-2 {
    position: fixed;
    margin-top: 34px;
    width: 235px;
    color: lighten($color-active, 25%);
    background-color: $gray--darken;
  }

  &--fixed-3 {
    position: fixed;
    margin-top: 68px;
    width: 235px;
    color: lighten($color-active, 25%);
    background-color: $gray--darken;
  }

  &--second {
    padding-top: 120px;
  }
}
