/*родительский блок для позиционирования .range в потоке документа*/
.range {
  outline: 1px dotted red;
  position: relative;
  width: 800px;
  height: 100px;
}

.range__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*прозрачный input type="range"*/
/*opacity: 0; этому элементу устанавливает script*/
.range__input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  outline: none;
  /*cursor: pointer;*/
  cursor: ew-resize;
}

/*обертка для "визуального" range*/
.range__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*обертка для track и progress*/
.range__wrap-inner {
  position: relative;
  width: 100%;
  height: 100%;

  clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
}

/*track*/
.range__track {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #c9c9c9;
  background-image: linear-gradient(90deg, #d7b2f4, #345996);
}

/*progress*/
.range__progress {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #cfcfcf;
  transition: width 0.1s;
}

/*handle - смещающийся элемент ползунка*/
.range__handle {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.range__handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #30c7d6;
}
