/*===============*/
/*перед использованием удалить*/
#slider li {  /* stylelint-disable-line */
  background: #e0decc;
}

#slider li:nth-child(4) {  /* stylelint-disable-line */
  background: #ffffff;
}
/*===============*/

.slider {
  outline: 2px dotted red;
  background:#007f66; /*перед использованием удалить*/
  position: relative;
}

/*это кадр слайдера*/
.slider__list-item {
  width: 80%; /*при необходимости удалить удалить*/
  margin: 0 auto;

  display: none;
  background: $gray--light;

  &--active {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }
}

/*кнопки prev-next*/
.slider__prev,
.slider__next {
  position: absolute;
  padding: 0;
  //border: none;
  background-color: transparent;
  cursor: pointer;
}

/*обертка кнопок-индикаторов*/
.slider__toggles {
  display: flex;

  // @media (min-width: $desktop-width) {
  //   display: none;
  // }
}

/*это кнопки-индикаторы*/
.slider__toggle {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
