.social {
  outline: 1px dotted red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;

  list-style: none;
}

.social__link-wrap {
  background-color: $gray;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--fb {
    background-color: $color-fb;
  }
}

.social__link {
  display: block;
  padding: 5px;
}

.social svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: #ffffff;
  background: #000000;
}
