/* Базовый контейнер табов */
.tabs-2 {
  min-width: 320px;
  max-width: 800px;
}

/* Стили секций с содержанием */
.tabs-2__content {
  display: none;
  padding: 15px;
  border: 1px solid $gray--light;
}

.tabs-2__content-item {
  /*Анимация*/
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: tabs-2__fadeIn;
}

/* Описываем анимацию свойства opacity */
@keyframes tabs-2__fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Прячем чекбоксы */
.tabs-2__input {
  display: none;
  //position: absolute;
}

/* Стили переключателей вкладок (табов) */
.tabs-2__label {
  display: inline-block;
  margin: 0 0 -2px 0; /*смещение вкладок на толщину рамки, чтобы на активной вкладке убрать нижний border*/
  padding: 15px 25px;
  text-align: center;
  color: $gray;
  border: 1px solid $gray--light;
  border-width: 1px;
  background: $gray--light;
  border-radius: 3px 3px 0 0;
}

/* Изменения стиля переключателей вкладок при наведении */
.tabs-2__label:hover,
.tabs-2__label:focus {
  color: $color-hover;
  cursor: pointer;
}

/* Стили для активной вкладки */
.tabs-2__input:checked + .tabs-2__label {
  color: $color-main;
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid #ffffff;
  background: #ffffff;
}
/* Активация секций с помощью псевдокласса :checked */
/* stylelint-disable-next-line*/
#tabs-2__tab1:checked ~ #tabs-2__content-tab1,
#tabs-2__tab2:checked ~ #tabs-2__content-tab2,
#tabs-2__tab3:checked ~ #tabs-2__content-tab3,
#tabs-2__tab4:checked ~ #tabs-2__content-tab4 {
  display: block;
}
