/*это табы на JS*/

.tabs__links {
  /*контейнер вкладок*/
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__link-wrap {
  /*обертка вкладки, класс нужен для стилизации состояний*/
  color: $gray;
  border: 1px solid $border-color;

  &:not(:last-child) {
    border-right: none;
  }

  &--active {
    color: coral;
    border-bottom: 1px solid transparent;
  }
}

.tabs__link {
  /*текст вкладки, класс нужен для стилизации состояний*/
  display: block;
  padding: $field-padding-vertical $field-padding-horizontal;

  color: inherit;

  text-decoration: none;
  background-color: $gray--light;

  &:hover {
    color: $color-hover;
  }
}

.tabs__content-wrapper {
  display: block;
  margin-top: -2px;
  padding: $field-padding-vertical $field-padding-horizontal;
  border: 1px solid $border-color;
}

.tabs__content-item {
  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }
}
