.tabs__links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

/*вкладка, */
.tabs__link-wrap {
  color: $gray;
  border: 1px solid $gray;

  &:not(:last-child) {
    border-right: none;
  }

  &--active {
    color: $color-main;
    border-bottom: 1px solid transparent;
  }
}
/*текст вкладки*/
.tabs__link {
  display: block;
  padding: $field-padding-vertical $field-padding-horizontal;

  color: inherit;
  text-decoration: none;
  background-color: $gray--light;

  &:hover {
    color: $color-hover;
  }
}

.tabs__content-wrapper {
  display: block;
  margin-top: -2px;
  padding: $field-padding-vertical $field-padding-horizontal;
  border: 1px solid $gray;
}

.tabs__content-item {
  display: none;

  &--active {
    display: block;
  }
}
