.video-wrap-for-library {
  //  этот класс нужен только дя библиотеки
  display: flex;
}

.video {
  position: relative;
  width: 50%;
  background-color: $gray--light;

  &:not(:last-child) {
    margin-right: 2em; // только для библиотеки
  }
}

.video__container {
  outline: 2px dotted coral;

  margin: 0;
}

.video__descr {
  padding: 10px 0;
}

.video__source {
  outline: 4px dotted darkviolet;
  width: 100%;
  object-fit: cover; /*для маcштабирования poster по размерам video__source*/
}

/*===controlls====*/
.video__controls {
  display: none;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.video__btn:hover {
  background-color: coral;
}

/*===progress====*/
.video__progress-wrap {
  position: relative; /*необх для позиционирования progress-bar и progress-value*/
  width: 100%;
  height: 20px;
}

.video__progress {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.video__progress-bar {
  /*этот элемент добавит скрипт*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background: #0095b3;
  border: 1px solid crimson;
  border-radius: 20px;
}

.video__progress-value {
  /*этот элемент добавит скрипт*/
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  background: green;
}

/*м.б. полезно, если кнопки управления плеера без текста, и c svg*/
/*
.video__btn {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;

  /*
  &:hover {
    background: transparent;
  }*/

/*
  & > svg {
    margin: auto;
    $width: 75px; // переменная, чтобы можно было увеличить ширину на 20%
    $height: 75px; // переменная, чтобы можно было увеличить ширину на 20%

    &:hover,
    &:focus {
      width: $width * 1.1;
      height: $height * 1.1;
      transition: 0.15s;
    }

    &:active {
      width: $width * 1.15;
      height: $height * 1.15;
      transition: 0s;
    }
  } */
/*}*/
