@import "normalize.scss";
@import "variables.scss";
//=====================
@import "blocks/global.scss";
@import "blocks/mixins.scss";
//=====================
@import "blocks/aside-test.scss";
@import "blocks/attention.scss";
@import "blocks/bg-adaptive.scss";
@import "blocks/block-content.scss";
@import "blocks/block-library.scss";
@import "blocks/breadcrumbs.scss";
@import "blocks/btn.scss";
@import "blocks/burger.scss";
@import "blocks/card.scss";
@import "blocks/code.scss";
@import "blocks/container.scss";
@import "blocks/field-actions.scss";
@import "blocks/field-checkbox.scss";
@import "blocks/field-radio.scss";
@import "blocks/field-range.scss";
@import "blocks/field-text.scss";
@import "blocks/form.scss";
@import "blocks/img.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/modal-2.scss";
@import "blocks/modal.scss";
@import "blocks/off-canvas.scss";
@import "blocks/page-content.scss";
@import "blocks/page-main.scss";
@import "blocks/pagination.scss";
@import "blocks/picture.scss";
@import "blocks/progress.scss";
@import "blocks/projects.scss";
@import "blocks/slider.scss";
@import "blocks/social.scss";
@import "blocks/table.scss";
@import "blocks/tabs-2.scss";
@import "blocks/tabs.scss";
