$font-family: "Open Sans", "Arial", sans-serif;
$font-family-2: "B52", "Times New Roman", serif;

$font-size--smaller: 12px;
$font-size: 16px;
$font-size--larger: 20px;
$font-size--large: 28px;
//$font-size--x-large: 40px;
//$font-size--xl-large: 50px;

//================
$line-height: 1.75em;
$line-height-auto: 1.2em;

//================
$color-main: #283645;
$color-secondary: #d22856;
$color-third: coral;
$color-success: #66b266;
$color-error-bg: #db7164;
$color-error-border: #83433c;

$color-hover: #d22856;
$color-active: #2856d2;

//$gray--light: #eeeeee; //238-238-238
$gray--light: #e1e1e1; //225-225-225
$gray: #8e8e8e;
$gray--darken: #303030;

$text-color: #283645; // Global text color on <body>;

$color-fb: #3a5998;

$border-color: $gray;

$opacity: 0.4;

$box-shadow: 0 0 7px #000000;

//================
$slider-toggle: $gray;
$slider-toggle--hover: $color-hover;
$slider-toggle--down: $color-active;

//================
$typo-margin-vertical: 1em;

$field-padding-vertical: 5px;
$field-padding-horizontal: 12px;

$border-radius: 4px;
$fieldset-border-radius: 10px;

//=============================
//===Buttons===
//=============================
$btn-padding-vertical: 5px;
$btn-padding-horizontal: 12px;

$btn-padding-horizontal--portfolio: 58px;

//$btn-font-size: $font-size--small - 2px;
$btn-line-height: 2.5714em;

//$btn-color-base: $color-second;
$btn-color--portfolio: #1cbbb4;

$btn-border-radius-base: 4px;

$btn-bg-base: transparent;

//$btn-border-color-base: $color-second;
$btn-border-color--portfolio: #1cbbb4;

//=============================
//===Links====
//=============================
//$link-color: ;
//$link-color--active: ;
//$link-color--hover: ;
$link-color--down: $color-active;

//================
$transition-time: 0.2s;
$transition-time--burger: 0.2s;
$transition-time--show: 0.6s;

//=============================
//===Media queries breakpoints===
//=============================
$tablet-width: 660px;
$desktop-width: 1200px;

//=============================
//===Retina queries breakpoints===
//=============================
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
