$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size: 16px;
$font-size--larger: 20px;
$font-size--large: 28px;
//$font-size--x-large: 40px;
//$font-size--xl-large: 50px;


//================
$line-height: 2em;

//================
$color-main: #283645;
$color-secondary: #d22856;
$color-third: coral;

$color-hover: #d22856;
$color-active: #2856d2;

$gray--light: #eeeeee;
$gray: #8e8e8e;
$gray--darken:  #303030;

$color-fb: #3a5998;

$border-color: $gray;

$opacity: 0.4;

$box-shadow: 0 0 7px #000000;

//================
$slider-toggle: $gray;
$slider-toggle--hover: $color-hover;
$slider-toggle--down: $color-active;

//================
$typo-margin-vertical: 1em;

$field-padding-vertical: 5px;
$field-padding-horizontal: 12px;

$border-radius: 4px;
$fieldset-border-radius: 10px;

//================
$transition-time: 0.2s;
$transition-time--show: 0.6s;

//================
$tablet-width: 660px;
$desktop-width: 1200px;

