$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size: 16px;
$font-size--larger: 20px;
$font-size--large: 28px;
//$font-size--x-large: 40px;
//$font-size--xl-large: 50px;


//================
$line-height: 2em;

//================
$color-main: #283645;
$color-secondary: #d22856;
$color-third: coral;

$color-hover: #d22856;
$color-active: #2856d2;

$gray--light:  #eeeeee;
$gray: #8e8e8e;

$opacity: 0.4;

//================
$border-radius: 4px;
$fieldset-border-radius: 10px;

$typo-margin-vertical: 1em;

$field-padding-vertical: 5px;
$field-padding-horizontal: 12px;

//================
$transition-time: 0.5s;

//================
$tablet-width: 660px;
$desktop-width: 1200px;

