$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size: 16px;
$font-size--larger: 18px;
$font-size--large: 28px;
$font-size--x-large: 40px;
$font-size--xl-large: 50px;


//================

$line-height: 1.7143em;

//================

$color-main: #283645;

$color-hover: #d22856;
$color-active: #2856d2;

$gray--light:  #eeeeee;
$gray: #8e8e8e;

//================

$tablet-width: 660px;
$desktop-width: 1200px;

